<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucm.appmenus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foodfeeltr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foodfeeltr_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".MainActivity"></activity> -->
        <!-- si quiero que se muestre primero la pag de registro -->
        <activity
            android:name=".ui.inicio.AniadirFiltrosActivity"
            android:exported="false" />
        <!--<activity android:name=".login.LoginActivity"/>-->
        <activity
            android:name=".ui.filtros.MapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.ReseniaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.RestauranteDetalladoActivity"
            android:exported="false" />
        <!-- METIDO POR MIRIAM -->
        <activity android:name=".MainActivity" />
        <activity android:name=".login.RegistroActivity" />
        <activity android:name=".login.LoginActivity">
        <!--<activity android:name=".ui.filtros.MapActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>